@model RegistroEstudiantes.Models.Estudiantes

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
               <h4>Eliminar estudiante</h4>
            </div>
            
           <div class="panel-body">
               <div class="alert-danger">
                    Desea eliminar el estudiante: @Html.DisplayTextFor(m => m.Nombres) @Html.DisplayTextFor(m => m.Apellidos)?
               </div>

               <form action="@Url.Action("Eliminar","Estudiantes")" method="post">
                    <input type="hidden" class="form-control" name="IdEstudiantes" value="@Html.DisplayTextFor(m => m.IdEstudiantes)" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-warning" href="@Url.Action("Inicio","Estudiantes")">Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>